.button{
    all: unset;
    font-family: "Helvetica Neue Thin";
    width: 10%;
    height: 10%;
}

button:hover {
    cursor: pointer;
}
.search-icon{
    padding: 10px;
    border: 0;
}