.restaurantP-card{
    display: flex;
    flex-direction: column;
    gap:20px;
    width: 30%;
    font-size: 25px;
}

.popular-text-container{
    margin: 20px 0px 20px 0px;
    font-size: 25px;
    line-height: 35px;
    text-align: center;
    letter-spacing: 1.25px;
}

.all-restaurant-btn{
    object-position: right;
    margin-left: 1132px;
    margin-top: 10px;
}