
.nav-bar{
    display: flex;
    flex-direction: row;
    gap: 230px;
}
.side{
    margin: 15.5px 127px 16.5px 127px;
}
.left{
    display: flex;
    gap: 32px;
    margin-left:127px ;
}
.right{
    display: flex;
    gap: 24.5px;
}
.inputWithButton{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 410px;
    height: 41px;

    border: 0.5px solid #000000;
    border-radius: 4px;
    /* background-image: url(../assets/icon/Search.svg); */
    /* background-repeat:no-repeat ; */
    /* padding: 6px 12px; */
 
    /* border: 0.5px solid #000000; */
    /* border-radius: 4px; */
}

.inputWithButton button {
  right: 0;
  top : 5px;
}


button{
    all: unset;
}

button:hover {
    cursor: pointer;
}
button:active {
    text-decoration: underline;
    color:rgb(255, 102, 26);
}