
.nav-bar{
    display: flex;
    flex-direction: row;
    gap: 230px;
    width: 100%;
    height: 10%;
}
.side{
    margin: 15.5px 127px 16.5px 127px;
}
.left{
    display: flex;
    gap: 32px;
    margin-left:127px ;
}
.logo{
    /* width: 10%;
    height: 10%; */
}
.right{
    display: flex;
    gap: 24.5px;
}
.search-bar{
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 0;
    width: 360px;
    height: 36px;
    border: 0.5px solid #000000;
    border-radius: 400px;
}
.search-bar:focus-within{
    /* width: 100%; */
}
.input{
    font-family: 'Helvetica Neue Thin';
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    line-height: 22px;
    height: 21px;
    width: 290px;
    flex-grow: 1;
    padding-top: 10px;
    font-size: 15px;
    letter-spacing: 1.29px;
    border: none;
    border-radius: 450px;
    cursor: pointer;
}
.input :focus{
    border: 0;
}

